/*
!/

# Files/dirs to allow
!/Cargo.lock
!/Cargo.toml
!/LICENSE
!/README.md

# Workspace Directories
!/ndg

# Nix
!/*.nix
!/pkgs/
!/nix/
!/flake/
!/flake.lock

# Repo configs
!/.github/workflows/*
!/.gitattributes
!/.gitignore

# Tooling Configurations
!/.rustfmt.toml
!/.clippy.toml
!/taplo.toml

