# Ignore everything by default
/*
!/

# Packages
!/ndg/
!/ndg-commonmark/

# Rust/Cargo
!/Cargo.lock
!/Cargo.toml

# Configuration files
!/.rustfmt.toml
!/.clippy.toml
!/.taplo.toml
!/.gitattributes
!/.gitignore
!/.github
!/.editorconfig

# Nix
!/flake/*.nix
!/nix/*.nix
!/flake.nix
!/flake.lock
!/shell.nix
!/default.nix
!/.envrc

# Misc
!/README.md
!/LICENSE.md




