# Ignore everything by default
/*
!/

# Packages
!/ndg/
!/ndg-commonmark/
!/xtask/

# Rust/Cargo
!/Cargo.lock
!/Cargo.toml

# Configuration files
!/.cargo/
!/.config/
!/.rustfmt.toml
!/.clippy.toml
!/.taplo.toml
!/deny.toml
!/.gitattributes
!/.gitignore
!/.github
!/.editorconfig

# Nix
!/nix/
!/flake.nix
!/flake.lock
!/shell.nix
!/default.nix
!/.envrc

# Misc
!/README.md
!/LICENSE
!/CHANGELOG.md
