[workspace]
default-members = [ "ndg" ]
members         = [ "ndg", "ndg-commonmark", "xtask" ]
resolver        = "3"

[workspace.package]
authors      = [ "NotAShelf <raf@notashelf.dev>" ]
categories   = [ "text-processing" ]
edition      = "2024"
keywords     = [ "markdown", "nix", "nixpkgs", "nixos", "documentation" ]
license      = "MPL-2.0"
readme       = true
repository   = "https://github.com/feel-co/ndg"
rust-version = "1.85"
version      = "2.3.2"

[workspace.dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.48", default-features = false, features = [
  "std",
  "derive",
  "help",
  "usage",
  "suggestions",
] }
clap_complete = "4.5.60"
clap_mangen = "0.2.31"
color-eyre = "0.6.5"
comrak = { version = "0.45.0", default-features = false, features = [ "syntect" ] }
env_logger = "0.11.8"
fs_extra = "1.3.0"
grass = { version = "0.13.4", default-features = false }
html-escape = "0.2.13"
html5ever = "0.35.0"
jiff = "0.2.15"
kuchikikiki = "0.9.0"
log = "0.4.28"
markup5ever = "0.35.0"
ndg = { path = "./ndg" }
ndg-commonmark = { path = "./ndg-commonmark" }
num_cpus = "1.17.0"
rayon = "1.11.0"
regex = "1.11.3"
serde = { version = "1.0.228", features = [ "derive" ] }
serde_json = { version = "1.0.145", default-features = false, features = [ "preserve_order" ] }
syntect = "5.3.0"
tempfile = "3.23.0"
tendril = "0.4.3"
tera = { version = "1.20.0", default-features = false }
thiserror = "2.0.17"
toml = { version = "0.9.7", default-features = false, features = [ "parse", "serde" ] }
walkdir = "2.5.0"

[workspace.lints.clippy]
alloc_instead_of_core             = "allow"
allow_attributes_without_reason   = "allow"
arbitrary_source_item_ordering    = "allow"
arithmetic_side_effects           = "allow"
as_conversions                    = "allow"
as_pointer_underscore             = "allow"
as_underscore                     = "allow"
big_endian_bytes                  = "allow"
blanket_clippy_restriction_lints  = "allow"
clone_on_ref_ptr                  = "allow"
dbg_macro                         = "allow"
disallowed_script_idents          = "allow"
else_if_without_else              = "allow"
error_impl_error                  = "allow"
exhaustive_enums                  = "allow"
exhaustive_structs                = "allow"
expect_used                       = "allow"
field_scoped_visibility_modifiers = "allow"
float_arithmetic                  = "allow"
host_endian_bytes                 = "allow"
impl_trait_in_params              = "allow"
implicit_return                   = "allow"
indexing_slicing                  = "allow"
inline_asm_x86_intel_syntax       = "allow"
integer_division                  = "allow"
integer_division_remainder_used   = "allow"
large_include_file                = "allow"
let_underscore_must_use           = "allow"
let_underscore_untyped            = "allow"
little_endian_bytes               = "allow"
map_err_ignore                    = "allow"
match_same_arms                   = "allow"
missing_assert_message            = "allow"
missing_docs_in_private_items     = "allow"
missing_errors_doc                = "allow"
missing_inline_in_public_items    = "allow"
missing_panics_doc                = "allow"
missing_trait_methods             = "allow"
mod_module_files                  = "allow"
multiple_inherent_impl            = "allow"
mutex_atomic                      = "allow"
mutex_integer                     = "allow"
non_ascii_literal                 = "allow"
panic                             = "allow"
panic_in_result_fn                = "allow"
partial_pub_fields                = "allow"
pedantic                          = { level = "warn", priority = -1 }
print_stderr                      = "allow"
print_stdout                      = "allow"
pub_use                           = "allow"
pub_with_shorthand                = "allow"
pub_without_shorthand             = "allow"
question_mark_used                = "allow"
ref_patterns                      = "allow"
renamed_function_params           = "allow"
restriction                       = { level = "warn", priority = -1 }
same_name_method                  = "allow"
semicolon_outside_block           = "allow"
separated_literal_suffix          = "allow"
shadow_reuse                      = "allow"
shadow_same                       = "allow"
shadow_unrelated                  = "allow"
single_call_fn                    = "allow"
single_char_lifetime_names        = "allow"
single_match_else                 = "allow"
std_instead_of_alloc              = "allow"
std_instead_of_core               = "allow"
string_add                        = "allow"
string_slice                      = "allow"
todo                              = "allow"
too_many_lines                    = "allow"
try_err                           = "allow"
unimplemented                     = "allow"
unnecessary_safety_comment        = "allow"
unnecessary_safety_doc            = "allow"
unreachable                       = "allow"
unwrap_in_result                  = "allow"
unwrap_used                       = "allow"
use_debug                         = "allow"
wildcard_enum_match_arm           = "allow"

[profile.dev]
opt-level = 1

[profile.release]
codegen-units = 1
lto           = "thin"
opt-level     = "s"
panic         = "abort"
strip         = true

[profile.dev.package.backtrace]
opt-level = 3
