[package]
name                   = "ndg"
description            = "Platform agnostic documentation generator for Nix/NixOS and Nixpkgs module systems"
authors.workspace      = true
version.workspace      = true
edition.workspace      = true
rust-version.workspace = true
readme                 = "./README.md"
license.workspace      = true
repository.workspace   = true
categories.workspace   = true
keywords.workspace     = true

[dependencies]
# CLI and core dependencies
clap.workspace       = true
color-eyre.workspace = true
env_logger.workspace = true
jiff.workspace       = true
log.workspace        = true
num_cpus.workspace   = true
rayon.workspace      = true

# Internal crate dependencies
ndg-commonmark = { workspace = true }
ndg-config     = { path = "../crates/ndg-config" }
ndg-html       = { path = "../crates/ndg-html" }
ndg-manpage    = { path = "../crates/ndg-manpage" }
ndg-utils      = { path = "../crates/ndg-utils" }

# Re-export some dependencies that are used in public API
html-escape.workspace = true
regex.workspace       = true
serde.workspace       = true
serde_json.workspace  = true
tera.workspace        = true
thiserror.workspace   = true
toml.workspace        = true


[dev-dependencies]
comrak.workspace   = true
criterion          = { version = "0.8.1", features = [ "html_reports" ] }
tempfile.workspace = true

[[bench]]
harness = false
name    = "postprocess"

[lints]
workspace = true
