[package]
name                   = "ndg"
description            = "Platform agnostic documentation generator for Nix/NixOS and Nixpkgs module systems"
authors.workspace      = true
version.workspace      = true
edition.workspace      = true
rust-version.workspace = true
readme                 = "./README.md"
license.workspace      = true
categories.workspace   = true
keywords.workspace     = true

[dependencies]
clap.workspace           = true
color-eyre.workspace     = true
comrak.workspace         = true
env_logger.workspace     = true
fs_extra.workspace       = true
grass.workspace          = true
html-escape.workspace    = true
jiff.workspace           = true
log.workspace            = true
ndg-commonmark.workspace = true
num_cpus.workspace       = true

rayon.workspace      = true
regex.workspace      = true
serde.workspace      = true
serde_json.workspace = true
tera.workspace       = true
thiserror.workspace  = true
toml.workspace       = true
walkdir.workspace    = true

# Minification dependencies
# OXC dependencies are already pulled by minify-html, so it is mostly fine
# that we pull 5 crates just to minify Javscript. Not really, yikes.
lightningcss.workspace  = true
minify-html.workspace   = true
oxc_allocator.workspace = true
oxc_codegen.workspace   = true
oxc_minifier.workspace  = true
oxc_parser.workspace    = true
oxc_span.workspace      = true


[dev-dependencies]
criterion          = { version = "0.8.1", features = [ "html_reports" ] }
tempfile.workspace = true

[[bench]]
harness = false
name    = "postprocess"

[lints]
workspace = true
