name: Build with Cargo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  changes:
    name: Detect Changed Files
    runs-on: ubuntu-latest
    steps:
      - name: "Get changed files"
        id: changed-files
        uses: dorny/paths-filter@v3
        with:
          filters: |
            files:
              - 'Cargo.toml'
              - 'Cargo.lock'
              - 'src/*'
              - 'templates/*'
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.files == 'true' }}
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Install Rust
        if: steps.changes.outputs.src == 'true'
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test

  build:
    name: Build
    needs: test
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

